
.navbar {
    background-color: #5fb404;
    padding-left: 10rem;
}

.quem-somos {
    background-color: #585858;
}

.margin {
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.parceiros {
    background-color: #2F6EB4;
}

.bg-footer {
    background-color: #5fb404;
}